.encabezado__lista{
   margin: 0rem 0rem;
   font-weight: 500;
}

.lista__item {
   display: inline-block;
   margin-right: 2rem;
}

.lista__link{
   color: #464646;
   font-size: 14px;
   text-decoration: none;
}

.lista__img{
   width: 10px;
   height: 10px;  
}